<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>repositoryService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.RepositoryServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>importVocabulary</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.ImportVocabularyProxyImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>collectionManagement</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.CollectionManagementProxyImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resourceService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.ResourceServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>executionService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.ExecutionServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileUploadService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.FileUploadService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>remoteUploadServlet</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.RemoteUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>handleMappingServlet</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.HandleMappingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>copyMappingServlet</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.CopyMappingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>integrationService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.IntegrationSeviceProxyImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logFileService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.EuropeanaLogFileService</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>retrievalService</servlet-name>
        <servlet-class>eu.europeana.uim.gui.cp.server.RetrievalServiceImpl</servlet-class>
    </servlet>
		<servlet>
        <servlet-name>reportingService</servlet-name>
        <servlet-class>eu.europeana.uim.gui.cp.server.ReportingServiceImpl</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>reportDownloadServlet</servlet-name>
        <servlet-class>eu.europeana.uim.gui.cp.server.ReportDownloadServlet</servlet-class>
    </servlet>
    	<servlet>
        <servlet-name>downloadPDFServlet</servlet-name>
        <servlet-class>eu.europeana.uim.gui.cp.server.PDFDownloadServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>mongoImageViewServlet</servlet-name>
        <servlet-class>eu.europeana.uim.gui.cp.server.MongoImageViewServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>failedRecordsService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.FailedRecordServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>taskReportsService</servlet-name>
		<servlet-class>eu.europeana.uim.gui.cp.server.TaskReportServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>logFileService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/logfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>failedRecordsService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/failedrecords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>taskReportsService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/taskreports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>repositoryService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/repository</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>importVocabulary</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/importvocabulary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>collectionManagement</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/collectionmanagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resourceService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>executionService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/execution</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteUploadServlet</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/remoteuploadservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/uploadservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>handleMappingServlet</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/handlemappingservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>copyMappingServlet</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/copymappingservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>integrationService</servlet-name>
		<url-pattern>/EuropeanaIngestionControlPanel/integration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>retrievalService</servlet-name>
        <url-pattern>/EuropeanaIngestionControlPanel/retrieval</url-pattern>
    </servlet-mapping>
    	<servlet-mapping>
        <servlet-name>reportingService</servlet-name>
        <url-pattern>/EuropeanaIngestionControlPanel/reporting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportDownloadServlet</servlet-name>
        <url-pattern>/EuropeanaIngestionControlPanel/reportDownload</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>downloadPDFServlet</servlet-name>
        <url-pattern>/EuropeanaIngestionControlPanel/downloadPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mongoImageViewServlet</servlet-name>
        <url-pattern>/EuropeanaIngestionControlPanel/mongoImageView</url-pattern>
    </servlet-mapping>
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>EuropeanaIngestionControlPanel.html</welcome-file>
    </welcome-file-list>
</web-app>
